<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>

    <h1>Thank You...!!!</h1>
    <table>
        <tr>
           <th>
               Name:
           </th>
            <td>
                {{ name }}
            </td>
        </tr>
        <tr>
           <th>
               Email:
           </th>
            <td>
                {{ email }}
            </td>
        </tr>
        <tr>
           <th>
               Feedback:
           </th>
            <td>
                {{ feedback }}
            </td>
        </tr>
    </table>


</body>
</html>

